body{ 
    font-family: Arial, Helvetica, sans-serif;
 beckground-color: rgb(24, 214, 17)
}

div{
    background-color: rgb(rgb(111, 216, 216), green, blue);
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 80x;
    border-radius: 15px;
    color: white;
}